DJANGO_SETTINGS_MODULE=config.settings.dev

# Database - PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=demo_db
POSTGRES_USER=demo_user
POSTGRES_PASSWORD=demo_password

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=demo_password

SECRET_KEY=django-insecure-oexdjlcit2lm$&_*l5za@j9@zco3m_y8zi$!v(n(toqcmmsqm8
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]

# WebPush VAPID Keys (generate with: openssl ecparam -name prime256v1 -genkey -noout -out private.pem)
# Then: openssl ec -in private.pem -pubout -out public.pem
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_ADMIN_EMAIL=admin@example.com
